:root {
    --color-black: #0c0c0c;
    --color-light: #ffffff;
  }

  * {
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
    box-sizing: border-box;
    font-size:30px;
    overflow:hidden;
  }
  body{
    background-color: var(--color-black);
    color:var(--color-light);
}
.custom-wrap {
    display: flex;
    align-items: center;
    min-height: 100vh;
    justify-content: space-between;
  }
.custom-header {
    background-color: var(--color-black);
    background-image: url('../images/paloma.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .padding-section {
    padding: 1rem;
}