@import url('https://fonts.googleapis.com/css2?family=Allerta+Stencil&family=Anton&family=DM+Sans&family=Jura&family=Luxurious+Roman&family=Open+Sans:wght@300&family=Raleway:wght@100;300;500&family=Roboto:wght@100;300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Allerta+Stencil&family=Anton&family=Chonburi&family=DM+Sans&family=Jura&family=Luxurious+Roman&family=Open+Sans:wght@300&family=Raleway:wght@100;300;500&family=Roboto:wght@100;300&display=swap');
:root {
    --color-black: #0c0c0c;
    --color-light: #ffffff;
  }

* {
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
    box-sizing: border-box;
    font-size:30px;
    overflow-x: clip;
    /* overflow:hidden; */
  }
body{
    background-color: var(--color-black);
    color:var(--color-light);
}
a{
    text-decoration: none;
    color: var(--color-light);
}
.custom-wrap {
    display: flex;
    align-items: center;
    min-height: 100vh;
    justify-content: space-between;
  }
.custom-header {
    background-color: var(--color-black);
    background-image: url('../images/paloma.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
.padding-section {
    padding: 1rem;
}
.nav{
    font-family:'Anton';
    writing-mode: vertical-rl;
    transform: rotate(180deg);
    bottom:0;
}
h1{
    font-size:450%;
    line-height: 243px;
    letter-spacing: 0px;
    font-family:"Chonburi";
}
.nav p{
    text-transform: uppercase;
    font-weight:400;
    font-size:320%;
    opacity: 70%;   
}
.nav p:hover{
    transform:translateY(80px);
    transition-duration: 1s;
    color:brown;
}
.custom-hear {
    position: relative;
    margin-top:50px;
    padding:20px;
}
.custom-flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
}
.custom-hear-overlay {
    inset: 0;
    position: absolute;
}
.custom-hear-overlay img{
    z-index: 0;
    width: 392px;
    height: 416px;
}
.custom-hear-content {
    z-index: 2;
    width: 100%;
}
.custom-hear-content-songs {
    flex: 1;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    flex-direction: column;
    text-align: right;
}
.desc-text {
    letter-spacing: 0.1em;
    text-transform: capitalize;
    font-family: "Anton";
    line-height: 83.2px;
    font-size: 64px;
  }
.custom-btn {
  margin-top:10px;
  line-height: 28px;
  padding: 10px;
  background-color: brown;
  opacity: 0.6;
  outline: none;
  cursor: pointer;
  font-family: "Arial";
  border-radius: 10px;
  border: none;
}
.custom-btn:hover {
  opacity:1;
}
.custom-hear-content-light {
    margin: 2rem 4rem;
}
.custom-hear-content-light img {
    height: 710px;
}
.custom-hear-content-buy {
    flex: 1;
    text-align: left;
    justify-content: flex-start;
    display: flex; 
    align-items: flex-start;
    flex-direction: column;
}

@media screen and (max-width: 1400px) {
    .custom-header {
        background-image: url('../images/paloma-ss.png');
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
    h1{
        font-size:250%;
    }
    .nav p{
        font-size:120%;  
    }
    .nav-elements{
        transform: rotate(90deg);
    }
    .custom-hear-content {
      flex-direction: column;
  }
  .custom-hear-content-light {
    margin: 2rem 0;
  }
  }


@media screen and (max-width: 650px) {
    .custom-hear-overlay img {
        width: 80%;
        height: 320px;
    }
}

