:root {
    --color-black: #0c0c0c;
    --color-light: #ffffff;
  }

  * {
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
    box-sizing: border-box;
    font-size:30px;
    overflow:hidden;
  }
  body{
    background-color: var(--color-black);
    color:var(--color-light);
}